.game {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: blueviolet;
}

.buttonContainer {
	height: 80px;
}

.resetButton {
	margin-top: 20px;
	padding: 6px 12px;
	background-color: #8a2be2;
	border: none;
	border-radius: 3px;
	color: white;
	font-size: 20px;
	transition: 0.1s;
}

.resetButton:hover {
	background-color: #9a3ef0;
	cursor: pointer;
}

.resetButton:active {
	font-size: 19px;
}
